.footer__wrapper {
    background-color: #2C4755;
  }
  
.footer {
    width: 100%;
    height: 80px;
    text-align: center;
}

.footer__paragraph{
    color: #FFFFFF;
    padding-top: 25px;
    @media screen and (max-width: $md-up){
        font-size: 10px;
        padding-top:30px;
    }
}

.footer__paragraph__color{
    color: $aqua;
}