//Header
.header {
  font-size: 20px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
    
.header__logo {
  transform: scale(0.65);
  padding-left: 240px;
  
  @media screen and (max-width: $md-up){
    padding-left: 75px;
  }
}
    
.header__dropdown {
  transform: scale(1.2);
  padding-right: 220px;
  position: relative;
  z-index: 3;

  input, ul {
    display: none;
  }

  label {
    cursor: pointer;
  }

  ul {
    width: 175px;
    position: absolute;
    left: -90px;
    top: 20px;
    margin: 0;
    padding: 5px;
    list-style: none;
    justify-content: center;
    background: #2C4755;
    padding-left: 25px;
  }

  a {
    color: #ffffff;
    text-decoration: none;
  }

  :checked ~ ul {
    display: inline-block;
  }

  @media screen and (max-width: $md-up){
    padding-right: 75px;
  }
}

.header__dropdown__nav{
  @media screen and (max-width: $md-up){
    width: 175px;
  }  
  @media screen and (max-width: $xs-up){
    width: 150px;
  }
}
  
.header__dropdown__nav__string {
  padding-top: 5px;
  &--big{
    font-size: 25px;
  }
  @media screen and (max-width: $md-up){
    font-size: 12px;
    &--big{
     font-size: 18px;
    }
  }
}

a:active {
color: #10CAB7;
}

.header__dropdown__nav__font{
color: #FFFFFF;
}

.header__dropdown__paragraph {
    color: #637988;

  @media screen and (max-width: $md-up){
    font-size: 10px;
  }
}

.header__dropdown__disable{
  padding-top: 20px;
  color: #637988;
  font-size: 15px;;
  display: none; 

  @media screen and (max-width: $md-up){
    font-size: 10px;;
    display: block; 
  }
}