body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
  
 * {
    box-sizing: border-box;
}

/*screen sizes*/
$xl-up: 1400px;
$xl-down: 1399px;

$lg-up: 1200px;
$lg-down: 1199px;

$md-up: 992px;
$md-down: 991px;

$sm-up: 768px;
$sm-down: 767px;

$xs-up: 650px;
$xs-down: 649px;

$xxs-up: 450px;
$xxs-down: 449px;

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/*screen sizes*/
$xl-up: 1400px;
$xl-down: 1399px;

$lg-up: 1200px;
$lg-down: 1199px;

$md-up: 992px;
$md-down: 991px;

$sm-up: 768px;
$sm-down: 767px;

$xs-up: 650px;
$xs-down: 649px;

$xxs-up: 450px;
$xxs-down: 449px;

/*container sizes*/
$lg-container: 1170px;
$md-container: 970px;
$sm-container: 750px;

$aqua:#40E0D0;
$grey:#fafafa;
$blue:#2C4755;
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $sm-up) {
    width: $sm-container;
  }

  @media (min-width: $md-up) {
    width: $md-container;
  }

  @media (min-width: $lg-up) {
    width: $lg-container;
  }

  &__sm-on-md {
    @media (min-width: $md-up) {
      width: $sm-container;
    }
  }

  &__md-on-lg {
    @media (min-width: $lg-up) {
      width: $md-container;
    }
  }

  &:before,
  &:after {
    display: table;
    content: " ";
  }
}

.services__logo, .portfolio__logo, .about__logo, .contacts__logo {
  width: 100%;
  text-align: center;
  height: 230px;

  @media screen and (max-width: 992px){
    width: 100%;
    height: 150px;
  }
  @media screen and (max-width: 650px){
    height: 120px;
  }
}


// .translucent {
//     font-size: 120px;
//     font-weight: 900;
//     opacity: 0.05;
//     margin: 20px;
//     letter-spacing: -6px;
// }
// .up {
//     margin-top: -57px;
//   }